<h1>{{ server }}</h1>

<ul>
    <li>Server owner: {{ server.owner }}</li>
    <li>Frame: {{ server.frame }}</li>
    <li>Active: {{ server.active }}</li>
    <li>Exception: {{ server.exception }}</li>
    <li>Decommissioned: {{ server.decommissioned }}</li>
    <li>Stack: {{ server.stack }}</li>
    <li>Created: {{ server.created }}</li>
    <li>Last Modified: {{ server.modified }}</li>
    <li>IP: {{ server.ip_address }}</li>
    <li>Zone: {{ server.zone }}</li>
    <li>OS: {{ server.os }}</li>
    <li>OS Level: {{ server.os_level }}</li>
    <li>Centrify: {{ server.centrify }}</li>
    <li>AIX SSH: {{ server.aix_ssh }}</li>
    <li>Centrify SSH: {{ server.cent_ssh }}</li>
    <li>Xcelys: {{ server.xcelys }}</li>
    <li>Bash: {{ server.bash }}</li>
    <li>SSL: {{ server.ssl }}</li>
    <li>Java: {{ server.java }}</li>
    <li>Imperva: {{ server.imperva }}</li>
    <li>Netbackup: {{ server.netbackup }}</li>
    <li>EMC Clariion: {{ server.emc_clar }}</li>
    <li>EMC Sym: {{ server.emc_sym }}</li>
</ul>
<p>
<p>

<a href="http://p795agmon/?r=hour&cs=&ce=&m=cpu_used_report&s=by+name&c={{ frame_short_name }}&h={{ server.name }}.wellcare.com&host_regex=&max_graphs=0&tab=m&vn=&sh=1&z=small&hc=4">Full Ganglia Page</a>

</br>
</br>
<a href="http://p795agmon/graph_all_periods.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421935378&g=load_report&z=large&c={{ frame_short_name }}">
<img src="http://p795agmon/graph.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421932542&g=load_report&z=medium&c={{ frame_short_name }}">
</a>



<a href="http://p795agmon/graph_all_periods.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421935378&g=network_report&z=large&c={{ frame_short_name }}">
<img src="http://p795agmon/graph.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421933190&g=network_report&z=medium&c={{ frame_short_name }}">
</a>

</br>

<a href="http://p795agmon/graph_all_periods.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421935378&g=cpu_report&z=large&c={{ frame_short_name }}">
<img src="http://p795agmon/graph.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421933190&g=cpu_report&z=medium&c={{ frame_short_name }}">
</a>


<a href="http://p795agmon/graph_all_periods.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421935378&g=mem_report&z=large&c={{ frame_short_name }}">
<img src="http://p795agmon/graph.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421933190&g=mem_report&z=medium&c={{ frame_short_name }}">
</a>

</br>
<a href="http://p795agmon/graph_all_periods.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421935378&g=cpu_used_report&z=large&c={{ frame_short_name }}">
<img src="http://p795agmon/graph.php?h={{ server.name }}.wellcare.com&m=cpu_used_report&r=hour&s=by%20name&hc=4&mc=2&st=1421933190&g=cpu_used_report&z=medium&c={{ frame_short_name }}">
</a>

</br>
<a href="http://p795agmon/graph_all_periods.php?c={{ frame_short_name}}&h={{ server.name }}.wellcare.com&v=22&m=cpu_runq&r=hour&z=small&jr=&js=&st=1422546783&z=large">
<img src="http://p795agmon/graph.php?c={{ frame_short_name }}&h={{ server.name }}.wellcare.com&v=22&m=cpu_runq&r=hour&z=small&jr=&js=&st=1422546783">
</a>
<a href="http://p795agmon/graph_all_periods.php?c={{ frame_short_name }}&h={{ server.name }}.wellcare.com&v=75759.61&m=disk_read&r=hour&z=small&jr=&js=&st=1422546783&vl=bytes%2Fsec&ti=Total%20Disk%20Read%20I%2FO%20per%20second&z=large">
<img src="http://p795agmon/graph.php?c={{ frame_short_name }}&h={{ server.name }}.wellcare.com&v=75759.61&m=disk_read&r=hour&z=small&jr=&js=&st=1422546783&vl=bytes%2Fsec&ti=Total%20Disk%20Read%20I%2FO%20per%20second>">
</a>
<a href="http://p795agmon/graph_all_periods.php?c={{ frame_short_name }}&h={{ server.name }}.wellcare.com&v=203570.00&m=disk_write&r=hour&z=small&jr=&js=&st=1422546783&vl=bytes%2Fsec&ti=Total%20Disk%20Write%20I%2FO%20per%20second&z=large">
<img src="http://p795agmon/graph.php?c={{ frame_short_name }}&h={{ server.name }}.wellcare.com&v=203570.00&m=disk_write&r=hour&z=small&jr=&js=&st=1422546783&vl=bytes%2Fsec&ti=Total%20Disk%20Write%20I%2FO%20per%20second">
</a>
