{% extends "server/base.html" %}    


{% block title %}
<title>Frames</title>
{% endblock %}


{% block content %}

<script type='text/javascript' src="/static/js/jquery.min.js">
    </script>
<script type='text/javascript' src="/static/js/test.js">
    </script>
<link type='text/css' href='/static/css/frames.css' rel='stylesheet' />

<center><h3>UNIX Frames</h3></center>
<br>

{% for t in sorted_frame_list %}
{% for key,value in frame_dict.items %}
{% if key == t %}

<div class='yellow_servers'>
<h5><a id='frame' href="http://p795agmon/?r=hour&cs=&ce=&s=by+name&c={{ key.short_name }}&tab=m&vn=">{{ key }}</a></h5>
<ul class='frames'>
    {% for server in value %}
    <a class='yellow' href="/server/{{ server.name }}/">{{ server.name }}</a>
    <br>
    {% endfor %}
</ul>
</div>
{% endif %}
{% endfor %}
{% endfor %}


{% endblock %}


