
<h2>Unix Engineering Server Index</h3>

Chart Note: On the line and bar charts, clicking the version labels allows you to remove/add them from each chart.

<h4>Total number of current active servers</h4>
The number at the end can be changed to show the number of days/weeks/months</br>
<a href="http://p1rhrep:8000/server/line_basic/aix/day/34">Total AIX servers by day for the last 34 days</a></br>
<a href="http://p1rhrep:8000/server/line_basic/aix/week/12">Total AIX servers by week for the last 12 weeks</a></br>
<a href="http://p1rhrep:8000/server/line_basic/aix/week/4">Total AIX servers by week for the last 4 weeks</a></br>
<a href="http://p1rhrep:8000/server/line_basic/aix/month/5">Total AIX servers by month for the last 5 months</a></br>

<h4>Stacked Column Historical AIX Charts</h4>
In each of the below URLs you can simply change the number at the end for the desired range
<br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/os_level/day/28">OS Level by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/os_level/week/8">OS Level by week for the last 8 weeks</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/os_level/month/4">OS Level by month for the last 4 months</a><br>
<br>
The service being monitored may also be changed in the URL<br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/aix_ssh/day/28">AIX SSH by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/cent_ssh/day/28">Centrify SSH by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/centrify/day/28">Centrify by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/xcelys/day/28">Xcelys by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/bash/day/28">Bash by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/ssl/day/28">SSL by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/imperva/day/28">Imperva by day for the last 28 days</a><br>
<a href="http://p1rhrep:8000/server/stacked_column/aix/all/netbackup/day/28">NetBackup by day for the last 28 days</a><br>

<h4>AIX Current Application Versions in Pie Charts</h4>
<a href="http://p1rhrep:8000/server/pie_3d/aix_ssh/">AIX SSH</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/cent_ssh/">Centrify SSH</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/os_level/">OS Levels</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/centrify/">Centrify</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/xcelys/">Xcelys</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/bash/">Bash</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/ssl/">SSL</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/imperva/">Imperva</a></br>
<a href="http://p1rhrep:8000/server/pie_3d/netbackup/">NetBackup</a></br>

<h4>AIX Server Stacks<h4>
<a href="http://p1rhrep:8000/server/stacks">Stacks</a>

<h4>AIX WPAR relationships<h4>
<a href="http://p1rhrep:8000/server/wpars">WPARS</a>
 
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

{% if first_ten_servers %}
    <ul>
    {% for server in first_ten_servers %} 
        <li><a href="/server/{{ server.name }}/">{{ server.name }}
</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Server is available.</p>
{% endif %}
