{% extends "server/test_base.html" %}		

{% block title %}
<title>Line Lables Proc Pools</title>
{% endblock %}

{% block content %}
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '{{ title }}',
        },
        subtitle: {
            text: '{{ sub_title }}',
        },
        xAxis: {
            categories:[ {% for month in months %}
                '{{ month }}',
                {% endfor %} ]
        },
        yAxis: {
            title: {
                text: 'Number of Procs'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2]
        }]
    });
});
		</script>
	</head>
	<body>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% for item in pool_data %}
    {{ item }}
    <br>
{% endfor %}

{% endblock %}
