{% extends "server/test_base.html" %}		

{% block title %}
<title>Line Lables Proc Pools</title>
{% endblock %}

{% block content %}
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '{{ title }}',
        },
        colors: ['#000000', '#444444', '#0022EE', '#0099FF', '#990000', '#FF0000', '#337700', '#33DD00'
        ],
        subtitle: {
            text: '{{ sub_title }}',
        },
        xAxis: {
            categories:[ {% for month in months %}
                '{{ month }}',
                {% endfor %} ]
        },
        yAxis: {
            title: {
                text: 'Number of Procs'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5]
        }, {
            name: 'Napoli',
            data: [1.8, 3.9, 1.5, 4.5, 2.4, 1.5]
        }, {
            name: 'Roma',
            data: [40.0, 22.9, 39.5, 24.8, 22.4, 52.5]
        }, {
            name: 'Torino',
            data: [28.0, 42.9, 40.5, 38.5, 30.4, 37.5]
        }, {
            name: 'Sigonella',
            data: [25.0, 25.9, 29.5, 34.5, 38.4, 33.5]
        }, {
            name: 'Venice',
            data: [38.0, 28.9, 18.5, 28.5, 16.4, 34.5]
        }, {
            name: 'Munich',
            data: [14.0, 12.9, 9.5, 32.5, 17.4, 16.5]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2]
        }]
    });
});
		</script>
	</head>
	<body>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% for item in pool_data %}
    {{ item }}
    <br>
{% endfor %}

{% endblock %}
