<!DOCTYPE HTML>
<!-- line_basic.htm -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        title: {
            text: '{{ title }}',
            x: -20 //center
        },
        subtitle: {
            text: 'Subtitle here',
            x: -20
        },
        xAxis: {
            categories:[ {% for month in months %}
                    '{{ month }}',
                    {% endfor %} ]
        },
        yAxis: {
            title: {
                text: 'Number of Servers'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' Servers'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'AIX',
            data: [ {% for num in number_of_servers %}
                    {{ num }} ,
                    {% endfor %} ]
        },{
            name: 'Decommed AIX',
            data: [ {% for decom in number_of_decoms %}
                    {{ decom }} ,
                    {% endfor %} ]
        },{
            name: 'Production AIX',
            data: [ {% for prod in number_of_prod %}
                    {{ prod }} ,
                    {% endfor %} ]
        },{
            name: 'NonProduction AIX',
            data: [ {% for non_prod in number_of_non_prod %}
                    {{ non_prod }} ,
                    {% endfor %} ]
        }]
    });
});
		</script>
	</head>
	<body>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>
	</body>
</html>
