<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-transitional1.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <meta http-equiv='content-type' content='text/html' charset=utf-8' />
    <meta http-equiv='content-language' content='en-us' />
    <title>Stacks</title>

<script type='text/javascript'
    src="/static/js/jquery.min.js">
    </script>
<script type='text/javascript'
    src="/static/js/test.js">
    </script>
<link type='text/css' href='/static/css/stacks.css' rel='stylesheet' />
</head>
<body>
<p>
jQuery is not loaded.
</p>

<h1>Wellcare UNIX Stacks</h1>
<br>
Click on the individual server name for a detail page.



<div class='red_servers'>
<h3>Red</h3>
<ul class='red_servers'>
{% if red_servers %}
    <ul>
    {% for server in red_servers %} 
            <li><a class='red' href="/server/{{ server.name }}/">{{ server.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>



<div class='orange_servers'>
<h3>Orange</h3>
<ul class='orange_servers'>
{% if orange_servers %}
    <ul>
    {% for server in orange_servers %} 
            <li><a href="/server/{{ server.name }}/">{{ server.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>


<div class='yellow_servers'>
<h3>Yellow</h3>
<ul class='yellow_servers'>
{% if yellow_servers %}
    <ul>
    {% for server in yellow_servers %} 
            <li><a href="/server/{{ server.name }}/">{{ server.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>


<div class='green_servers'>
<h3>Green</h3>
<ul class='green_servers'>
{% if green_servers %}
    <ul>
    {% for server in green_servers %} 
            <li><a href="/server/{{ server.name }}/">{{ server.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>
