{% extends "server/base.html" %}    

{% block title %}
<title>Stacks</title>
{% endblock %}


{% block content %}

<script type='text/javascript'
    src="/static/js/jquery.min.js">
    </script>
<script type='text/javascript'
    src="/static/js/test.js">
    </script>
<link type='text/css' href='/static/css/stacks.css' rel='stylesheet' />

<h3>Wellcare UNIX Stacks</h3>


<div class='red_servers'>
<h3>Red</h3>
<ul class='red_servers'>
{% if red_servers %}
    {% for server in red_servers %} 
    <a class='red' href="/server/{{ server.name }}/">{{ server.name }}</a>
    <br>
    {% endfor %}
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>



<div class='orange_servers'>
<h3>Orange</h3>
<ul class='orange_servers'>
{% if orange_servers %}
    {% for server in orange_servers %} 
    <a href="/server/{{ server.name }}/">{{ server.name }}</a>
    <br>
    {% endfor %}
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>


<div class='yellow_servers'>
<h3>Yellow</h3>
<ul class='yellow_servers'>
{% if yellow_servers %}
    {% for server in yellow_servers %} 
        <a href="/server/{{ server.name }}/">{{ server.name }}</a>
        <br>
    {% endfor %}
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>


<div class='green_servers'>
<h3>Green</h3>
<ul class='green_servers'>
{% if green_servers %}
    {% for server in green_servers %} 
    <a href="/server/{{ server.name }}/">{{ server.name }}</a>
    <br>
    {% endfor %}
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>
<div class='train_servers'>
<h3>Train</h3>
<ul class='train_servers'>
{% if train_servers %}
    {% for server in train_servers %} 
        <a href="/server/{{ server.name }}/">{{ server.name }}</a>
        <br>
    {% endfor %}
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>
<div class='config_servers'>
<h3>Config</h3>
<ul class='config_servers'>
{% if config_servers %}
    {% for server in config_servers %} 
        <a href="/server/{{ server.name }}/">{{ server.name }}</a>
        <br>
    {% endfor %}
{% else %}
    <p>No Server is available.</p>
{% endif %}
</ul>
</div>

{% endblock %}
