{% extends "server/test_base.html" %}	

{% block title %}
<title>AIX Affinity</title>
{% endblock %}

{% block content %}

		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<style type="text/css">
#container {
    position: absolute;
    left: 0px;
	min-width: 600px;
	max-width: 800px;
	margin: 0 auto;
}
#container2 {
    position: absolute;
    right: 0px;
	min-width: 600px;
	max-width: 800px;
	margin: 0 auto;
}
		</style>
		<script type="text/javascript">
$(function () {
	var data = {
		"100": {
               {% for x in predicted_100 %}
                "{{ x }}": {
					"predicted_lpar_score": "100",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},

                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"90": {
               {% for x in predicted_90 %}
                "{{ x }}": {
					"predicted_lpar_score": "90",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"80": {
               {% for x in predicted_80 %}
                "{{ x }}": {
					"predicted_lpar_score": "80",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"70": {
               {% for x in predicted_70 %}
                "{{ x }}": {
					"predicted_lpar_score": "70",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"60": {
               {% for x in predicted_60 %}
                "{{ x }}": {
					"predicted_lpar_score": "60",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"50": {
               {% for x in predicted_50 %}
                "{{ x }}": {
					"predicted_lpar_score": "50",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"40": {
               {% for x in predicted_40 %}
                "{{ x }}": {
					"predicted_lpar_score": "40",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"30": {
               {% for x in predicted_30 %}
                "{{ x }}": {
					"predicted_lpar_score": "30",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"20": {
               {% for x in predicted_20 %}
                "{{ x }}": {
					"predicted_lpar_score": "20",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		},
			"10": {
               {% for x in predicted_10 %}
                "{{ x }}": {
					"predicted_lpar_score": "10",
					"curr_lpar_score": "{{ x.curr_lpar_score }}"
			},
                {% endfor %}
				"Server3": {
					"curr_lpar_score": "0",
					"predicted_lpar_score": "0"
			}
		}
	};
	var data2 = {
		"20": {
				"Server9": {
					"curr_lpar_score": "10",
					"predicted_lpar_score": "10"
			},
				"Server4": {
					"curr_lpar_score": "10",
					"predicted_lpar_score": "10"
			}
		},
		"30": {
				"Server12": {
					"curr_lpar_score": "10",
					"predicted_lpar_score": "10"
			},
				"Server13": {
					"curr_lpar_score": "10",
					"predicted_lpar_score": "10"
			}
		}
	};
	var points = [],
		region_p,
		region_val,
		region_i,
		country_p,
		country_i,
		cause_p,
		cause_i,
		cause_name = [];
	cause_name['curr_lpar_score'] = 'curr_lpar_score';
	cause_name['predicted_lpar_score'] = 'predicted_lpar_score';
	region_i = 0;

	var points2 = [],
		region_pi2,
		region_val2,
		region_i2,
		country_p2,
		country_i2,
		cause_p2,
		cause_i2,
		cause_name2 = [];
	cause_name2['curr_lpar_score'] = 'curr_lpar_score';
	cause_name2['predicted_lpar_score'] = 'predicted_lpar_score';
	region_i2 = 0;

	for (var region in data) {
		region_val = 0;
		region_p = {
			id: "id_" + region_i,
			name: region,
			color: Highcharts.getOptions().colors[region_i]
		};
		country_i = 0;
		for (var country in data[region]) {
			country_p = {
				id: region_p.id + "_" + country_i,
				name: country,
				parent: region_p.id
			};
			points.push(country_p);
			cause_i = 0;
			for (var cause in data[region][country]) {
				cause_p = {
					id: country_p.id + "_" + cause_i,
					name: cause_name[cause],
					parent: country_p.id,
					value: Math.round(+data[region][country][cause])
				};
				region_val += cause_p.value;
				points.push(cause_p);
				cause_i++;
			}
			country_i++;
		}
		region_p.value = Math.round(region_val / country_i);
		points.push(region_p);
		region_i++;
	}
	for (var region2 in data2) {
		region_val2 = 0;
		region_p2 = {
			id: "id_" + region_i2,
			name: region2,
			color: Highcharts.getOptions().colors[region_i2]
		};
		country_i2 = 0;
		for (var country2 in data2[region2]) {
			country_p2 = {
				id: region_p2.id + "_" + country_i2,
				name: country2,
				parent: region_p2.id
			};
			points2.push(country_p2);
			cause_i2 = 0;
			for (var cause2 in data2[region2][country2]) {
				cause_p2 = {
					id: country_p2.id + "_" + cause_i2,
					name: cause_name2[cause2],
					parent: country_p2.id,
					value: Math.round(+data2[region2][country2][cause2])
				};
				region_val2 += cause_p2.value;
				points2.push(cause_p2);
				cause_i2++;
			}
			country_i2++;
		}
		region_p2.value = Math.round(region_val2 / country_i2);
		points2.push(region_p2);
		region_i2++;
    }

	var chart = new Highcharts.Chart({
		chart: {
			renderTo: 'container'
		},
		series: [{
			type: "treemap",
			layoutAlgorithm: 'squarified',
			allowDrillToNode: true,
			dataLabels: {
				enabled: false
			},
			levelIsConstant: false,
			levels: [{
				level: 1,
				dataLabels: {
					enabled: true
				},
				borderWidth: 3
			}],
			data: points
		}],
		subtitle: {
			text: 'Click points to drill down.</a>.'
		},
		title: {
			text: 'Predicted LPAR Score'
		}
	});
	var chart2 = new Highcharts.Chart({
		chart: {
			renderTo: 'container2'
		},
		series: [{
			type: "treemap",
			layoutAlgorithm: 'squarified',
			allowDrillToNode: true,
			dataLabels: {
				enabled: false
			},
			levelIsConstant: false,
			levels: [{
				level: 1,
				dataLabels: {
					enabled: true
				},
				borderWidth: 3
			}],
			data: points2
		}],
		subtitle: {
			text: 'Click points to drill down.</a>.'
		},
		title: {
			text: 'Current LPAR Score'
		}
    });
});
		</script>

<script src="/static/Highcharts/js/highcharts.js"></script>
<script src="/static/Highcharts/js/modules/heatmap.js"></script>
<script src="/static/Highcharts/js/modules/treemap.js"></script>
<div id="container"></div>
<div id="container2"></div>
{% endblock %}
