{% extends "timetracker/test_base.html" %}

{% block title %}
<title>Add Category</title>
{% endblock %}

{% block content %}

<form action='add_category' method='post'>{% csrf_token %}
<h4>Add Category</h4>
<table>
<thead>
    <tr>
        <th>Category Name</th>
        <th>Short Name</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><input id='name' type='text' name='name' maxlength='30'></td>
        <td><input id='short_name' type='text' name='short_name' maxlength='3'></td>
        <td><input id='description' type='text' name='description' maxlength='40'></td>
    </tr>
</tbody>
</table>
<input type='submit' value='Submit' />
</form>

{% endblock %}
    
