{% extends "timetracker/test_base.html" %}

{% block title %}
<title>Add Entry</title>
{% endblock %}

{% block content %}

<form action='add_entry' method='post'>{% csrf_token %}
<h4>Add your time entries for today</h4>
<table class="entries-add">
<thead>
    <tr>
        <th class="row-1 row-add-description">Description</th>
        <th class="row-2 row-add-category">Category</th>
        <th class="row-3 row-add-hours">Hours</th>
        <th class="row-4 row-add-notes">Notes</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><input class='textbox' id='description1' type='text' name='description1' size='30' maxlength='40'></td>
        <td><select class='textbox' name='category1'>
            {% for category in categories %}
            <option value='{{ category.name }}'>{{ category.name }}</option>
            {% endfor %}
            </select></td>
        <td><input class='textbox' id='hours1' type='text' name='hours1' size='5' maxlength='4'></td>
        <td><input class='textbox' id='notes1' type='text' name='notes1' size='70' maxlength='40'></td>
    </tr>
    <tr>
        <td><input class='textbox' id='description2' type='text' name='description2' size='30' maxlength='40'></td>
        <td><select class='textbox' name='category2'>
            {% for category in categories %}
            <option value='{{ category.name }}'>{{ category.name }}</option>
            {% endfor %}
            </select></td>
        <td><input class='textbox' id='hours2' type='text' name='hours2' size='5' maxlength='4'></td>
        <td><input class='textbox' id='notes2' type='text' name='notes2' size='70' maxlength='40'></td>
    </tr>
    <tr>
        <td><input class='textbox' id='description3' type='text' name='description3' size='30' maxlength='40'></td>
        <td><select class='textbox' name='category3'>
            {% for category in categories %}
            <option value='{{ category.name }}'>{{ category.name }}</option>
            {% endfor %}
            </select></td>
        <td><input class='textbox' id='hours3' type='text' name='hours3' size='5' maxlength='4'></td>
        <td><input class='textbox' id='notes3' type='text' name='notes3' size='70' maxlength='40'></td>
    </tr>
    <tr>
        <td><input class='textbox' id='description4' type='text' name='description4' size='30' maxlength='40'></td>
        <td><select class='textbox' name='category4'>
            {% for category in categories %}
            <option value='{{ category.name }}'>{{ category.name }}</option>
            {% endfor %}
            </select></td>
        <td><input class='textbox' id='hours4' type='text' name='hours4' size='5' maxlength='4'></td>
        <td><input class='textbox' id='notes4' type='text' name='notes4' size='70' maxlength='40'></td>
    </tr>
    <tr>
        <td><input class='textbox' id='description5' type='text' name='description5' size='30' maxlength='40'></td>
        <td><select class='textbox' name='category5'>
            {% for category in categories %}
            <option value='{{ category.name }}'>{{ category.name }}</option>
            {% endfor %}
            </select></td>
        <td><input class='textbox' id='hours5' type='text' name='hours5' size='5' maxlength='4'></td>
        <td><input class='textbox' id='notes5' type='text' name='notes5' size='70' maxlength='40'></td>
    </tr>
</tbody>
</table>
<input type='submit' value='Submit' />
</form>

{% endblock %}
