{% extends "timetracker/test_base.html" %}

{% block title %}
<title>Add Report</title>
{% endblock %}

{% block content %}

<form action='add_report' method='post'>{% csrf_token %}
<h4>Create Report</h4>
<table>
<div class='demo'>
<tr>
    <td>From:</td>
    <td> <input type="text" name="start_date" id="datepicker"></td>
</tr>
</div>

<div class='demo2'>
<tr>
    <td>To:</td>
    <td> <input type="text" name="end_date" id="datepicker2"></td>
</tr>

</div>
</table>
<input type='submit' value='Submit' />
</form>

{% endblock %}
    
