{% extends "timetracker/test_base.html" %}

{% block title %}
<title>Time Entries</title>
{% endblock %}

{% block content %}
<table>
<tr>
    <td width='5%'><a href="/timetracker/daily_manager_report/{{ previous }}">previous</a></td>
    <td width='90%'><center>{{ date }}</center></td>
    <td width='5%'><a href="/timetracker/daily_manager_report/{{ next }}">next</a></td>
<tr>
</table>


<table class="entries">
<thead>
    <tr>
        <th class="row-1 row-description2">Description</th>
        <th class="row-2 row-category">Category</th>
        <th class="row-3 row-hours">Hours</th>
        <th class="row-4 row-notes">Notes</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
<br>
{% for key, value in entries.items %}

<b> {{ key }} </b>
<table class="entries">
<tbody>

{% for entry in value %}
<tr>
    <td>{{ entry.description }}</td>
    <td>{{ entry.category }}</td>
    <td>{{ entry.hours }}</td>
    <td>{{ entry.notes }}</td>
</tr>
{% endfor %}

</tbody>
</table>
<br>
{% endfor %}
Users with no entries:
{% for name in users_with_no_entries %}
{{ name }},
{% endfor %}

<br>
<h4>Totals</h4>
{% for key, value in total_hours_by_user.items %}
{{ key }}
<table class="entries2">
<thead>
    <tr>
        <th class="row-1 row-category">Category</th>
        <th class="row-2 row-hours">Hours</th>
    </tr>
</thead>
<tbody>

    {% for category,hours in value.items %}
    <tr>
        <td>{{ category }}</td>
        <td>{{ hours }}</td>
    <tr>
    {% endfor %}
</tbody>
</table>
<br>
{% endfor %}

<br>
<h4>Overall Total Hours for the Day</h4>
<table class="entries2">
<thead>
    <tr>
        <th class="row-1 row-category">Category</th>
        <th class="row-2 row-hours">Hours</th>
    </tr>
</thead>
<tbody>

{% for category, hours in total_hours.items %}
    <tr>
        <td>{{ category }}</td>
        <td>{{ hours }}</td>
    <tr>
{% endfor %}
</tbody>
</table>
<br>


{% endblock %}

