<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-transitional1.dtd">
{% load static %}
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='content-type' content='text/html' charset=utf-8' />
    <meta http-equiv='content-language' content='en-us' />
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap-fluid-adj.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    <script type='text/javascript' src="/static/js/jquery.min.js">
    </script>
    <script type='text/javascript' src="/static/js/test.js">
    </script>
</head>
</html>
