{% extends "timetracker/test_base.html" %}

{% block title %}
<title>View Report</title>
{% endblock %}

{% block content %}

<form action='edit_report' method='post'>{% csrf_token %}

<h4>Your requested time entries from {{ start_date }} to {{ end_date }}</h4>

{% for key, value in date_dict.items %}
<br>
<table class="entries">
<thead>
    <tr>
        <th class="row-1 row-date">Date</th>
        <th class="row-2 row-description2">Description</th>
        <th class="row-3 row-category">Category</th>
        <th class="row-4 row-hours">Hours</th>
        <th class="row-5 row-notes">Notes</th>
    </tr>
</thead>
<tbody>


    {% for entry in value %}
    <tr>
        <td>{{ entry.date }}</td>
        <td>{{ entry.description }}</td>
        <td>{{ entry.category }}</td>
        <td>{{ entry.hours }}</td>
        <td>{{ entry.notes }}</td>
    <tr>
{% endfor %}
</tbody>
</table>

{% endfor %}

<br>
<h4>Totals</h4>
{% for key, value in date_totals.items %}
{{ key }}
<table class="entries2">
<thead>
    <tr>
        <th class="row-1 row-category">Category</th>
        <th class="row-2 row-hours">Hours</th>
    </tr>
</thead>
<tbody>

    {% for category,hours in value.items %}
    <tr>
        <td>{{ category }}</td>
        <td>{{ hours }}</td>
    <tr>
    {% endfor %}
</tbody>
</table>
<br>
{% endfor %}

<br>
{% endblock %} 






